# To run remote tests you'll need to copy this file to credentials.yml
# in the same directory and change the values to match your spreedly environment. 

environment_key: "YOUR-SPREEDLY-ENVIRONMENT-KEY"
access_secret: "YOUR-SPREEDLY-ACCESS-SECRET"
sca_provider_key: "YOUR-SPREEDLY-SCA-PROVIDER-KEY"
