# To run remote tests you'll need to copy this file to credentials.yml
# in the same directory and change the values to match your spreedly environment. 

environment_key: "YOUR-SPREEDLY-ENVIRONMENT-KEY"
access_secret: "YOUR-SPREEDLY-ACCESS-SECRET"
gateway_token: "Token for a test gateway associated with your test environment"